<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>77DD6383-84E4-433E-9B18-D45857D60E76.playgroundpage</string>
		<string>09A96174-5942-43BA-A8D9-02AAB8B3AEBD.playgroundpage</string>
		<string>F1959F87-2A93-4EB9-9CA9-3380D3A0F047.playgroundpage</string>
		<string>8E4F9AB0-1F61-415C-B1D3-2233BED2EF0B.playgroundpage</string>
	</array>
</dict>
</plist>
